<% include partials/header %>
  <div class="container">
    <div class="row">
      <h1>
        <%= campground.name %>
      </h1>
      <figure class="figure">
        <img class="img-rounded" src="<%= campground.image %>" alt="">
        <figcaption class="figure-caption">
          <%= campground.description %>
        </figcaption>
      </figure>
    </div>
    <div>
      <% campground.comments.forEach(comment => { %>
        <p>
          <strong><%= comment.author %></strong> -
          <%= comment.text %>
        </p>
        <% }) %>
    </div>
  </div>
  <% include partials/footer %>